/* HTML과 BODY의 기본 설정 */
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 스크롤 제거 */
}

/* 전체 화면을 덮는 오버레이 */
#modal-overlay {
  position: fixed; /* 화면 전체를 덮도록 설정 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모달 창 */
#modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 이미지 스타일 */
#logo {
  max-width: 200px; /* 이미지 최대 너비 */
  max-height: 200px; /* 이미지 최대 높이 */
  width: auto;
  height: auto;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  overflow: hidden; /* 스크롤 제거 */
}
