/* HTML과 BODY의 기본 설정 */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 스크롤 제거 */
}

/* 전체 화면을 덮는 오버레이 */
#modal-overlay {
  position: fixed; /* 화면 전체를 덮도록 설정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999;
}

/* 모달 창 */
#modal {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* 이미지 스타일 */
#logo {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  overflow: hidden; /* 스크롤 제거 */
}
